@model List<Sanctuary.Web.Views.ViewModels.APIViewModels.HomePageWeatherForecastDTO>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/WeatherWidget.css" type="text/css" />
    <style>
        .caritem1 {
            filter: brightness(50%)
        }

        .caritem {
            filter: brightness(100%)
        }
    </style>
</head>

<body style="background-color: #50D050">


    <div id="carouselExampleControls" class="carousel slide, align-content-center" data-bs-ride="carousel">
        <div class=" carousel-inner">
            <div class=" carousel-item active">
                <div class="caritem1">
                    <img src="Pictures\VetClinicAboutUsAboutOurMission.jpg" class="d-block w-100 caritem" alt="...">
                </div>
                <div class="caritem carousel-caption d-none d-md-block text-black">
                    <h5>About Us</h5>
                    <p>Learn about Sanctuary and why we make the world a better place for animals.</p>
                    <a role="button" class="btn btn-primary" asp-controller="Home" asp-action="AboutUs">Read Article</a>
                </div>
            </div>


            <div class="carousel-item ">
                <div class="caritem1">

                    <img src="Pictures\VetClinicOutStaff.jpg" class="d-block w-100" alt="...">
                </div>

                <div class="caritem carousel-caption d-none d-md-block text-black">
                    <h5>Our Staff</h5>
                    <p>Meet some of our most experienced staff members and learn what motivated them to help animals in need.</p>
                    <a role="button" class="btn btn-primary" asp-controller="Home" asp-action="OurStaff">Read Article</a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="caritem1">

                    <img src="Pictures\VetClinicServices.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="caritem carousel-caption d-none d-md-block text-black">
                    <h5>AddressServices we offer</h5>
                    <p>Have a look around at our extensive list of pet procedures that we offer.</p>
                    <a role="button" class="btn btn-primary" asp-controller="Home" asp-action="ClinicServices">Read Article</a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="caritem1">

                    <img src="Pictures\VetClinicHomelessAnimals.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="caritem carousel-caption d-none d-md-block text-black">
                    <h5>Reach out for homeless animals!</h5>
                    <p>There is plenty of helpless animals on the streets nowadays, reach out to them and bring them to us so we might give them the life they deserve!</p>
                    <a role="button" class="btn btn-primary" asp-controller="Home" asp-action="HomelessAnimals">Read Article</a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="caritem1">

                    <img src="Pictures\VetClinicEcoCampaign.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="caritem carousel-caption d-none d-md-block text-black">
                    <h5>Join us and our Eco campaign</h5>
                    <p>We will be forming cleaning groups and roaming around the busiest cities in the country to gather trash and dispose of it correctly.</p>
                    <a role="button" class="btn btn-primary" asp-controller="Home" asp-action="EcoCampaign">Read Article</a>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</body>





<div>hello</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

