@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Sanctuary.Web.Views.ViewModels.LogInViewModel
@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://kit.fontawesome.com/adbbfab783.js" crossorigin="anonymous"></script>
    <style>
        .fa-facebook {
            color: rgb(59, 91, 152)
        }

        .fa-google {
            color: rgb(60, 286, 84)
        }

        .fa-twitter {
            color: rgb(0, 72, 238)
        }
    </style>
</head>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="justify-content-center align-content-center border rounded-3 text-wrap text-break p-3 d-flex" style="width: 350px;">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

                <div class="text-center mb-3">
                    <p>Sign in with:</p>
                    <button type="button" class="btn btn-link mx-1 fa-2xl">
                        <i class="fab fa-facebook"></i>
                    </button>

                    <button type="button" class="btn btn-link mx-1 fa-2xl">
                        <i class="fab fa-google"></i>
                    </button>

                    <button type="button" class="btn btn-link mx-1 fa-2xl">
                        <i class="fab fa-twitter"></i>
                    </button>
                </div>

                <p class="text-center">or:</p>

                @{
                    if (!ViewData.ModelState.IsValid)
                    {
                        foreach (ModelStateEntry entry in ViewData.ModelState.Values)
                        {
                            foreach (ModelError entryError in entry.Errors)
                            {
                                <div class="text-danger">@entryError.ErrorMessage</div>
                            }
                        }
                    }
                }

                <form method="post">
                    <div class="mb-4">
                        <input asp-for="@Model.Email" class="form-control" placeholder="E-Mail" autocomplete="Email" aria-required="true"/>
                    </div>

                    <div class="mb-4">
                        <input asp-for="@Model.Password" class="form-control" placeholder="Password" autocomplete="Password" aria-required="true"/>
                    </div>


                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
                        <div class="col-md-6 d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-3 mb-md-0">
                                <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked/>
                                <label class="form-check-label" for="loginCheck"> Remember me </label>
                            </div>
                        </div>

                        <div class="col-md-6 d-flex justify-content-center">
                            <!-- Simple link -->
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="text-center mb-4">
                        <button id="login-submit" type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="#!">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}