@model SelectList
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/AppointmentMaking/MakeAnAppointmentScreenOne.css" />
    <link rel="stylesheet" href="~/css/AppointmentMaking/ZIPCodeDropdown.css" link />
</head>

<body>

<div class="centeredleft">
    <h5 id="hi" class="hello">Write down your ZIP Code</h5>
    <form method="post" enctype="multipart/form-data" asp-controller="Appointment" asp-action="Appointment">

        <div id="zipCodeDropdown" class=" search-dropdown">
                <input type="text" placeholder="ZIP" id="zipCodeTextField" autocomplete="off">
            <div id="dropdownItems" class="dropdown-content">
                <li>Home</li>
                <li>About</li>S
                <li>Contact</li>
            </div>
        </div>

        @* <input type="text" id="zipCode" class="form-control" name="zipCode" />

            <div id="myDropdown" class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </div>*@

        @*  <li class="dropdown">
            <a href = "" class="dropdown-toggle" data-toggle="dropdown" role="button" id = "TAdropdown" aria-expanded="false">Insert TA<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            <form class="navbar-form navbar-left" >
            <div class="form-group" id = "TAform">
            <input type="text" class="form-control" placeholder = "Roll Number" required>
            <input type="text" class="form-control" placeholder = "M.A.C address" required>
            </div>
            <button type="submit" class="btn btn-default" onClick = "addMAC()" >+</button>
            <button type="submit" class="btn btn-default" onClick = "removeMAC()" >-</button>
            <button type="submit" class="btn btn-default" onClick = "submitForm()">Submit</button>
            </form>

            </ul>
            </li>*@

        @*            <input class="btn btn-primary" type="submit" value="Submit" />
            *@            <div class="invalid-feedback">
            Please select a valid state.
        </div>
    </form>
</div>

<div id="map"></div>

</body>
</html>

<script rel="stylesheet" href="lib/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Appointment.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script async="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP64iLGi8Buh6jRZ6N8JG3ijxuQ-hk7F4&callback=initMap" defer></script>
<script type="text/javascript" src="~/js/GoogleMaps.js"></script>