.centeredleft {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#map {
    position: fixed !important;
    height: 60% !important;
    width: 40% !important;
    top: 20%;
    left: 55%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}